#root {
  margin: 0 auto;
}

/* custom bootstrap classes */

.w-fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}

.bg-home {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

/* remove button border */
button:hover,
button:focus,
button:active {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}