#root {
  margin: 0 auto;
  text-align: center;
}

/* custom bootstrap classes */

.w-fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}

.bg-home {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}
